.earn-partner {
    .white-content {
        background: #fff;
        width: 100%;

        .partner-intro {
            margin: 64px auto;
            padding: 0 146px;
            text-align: center;
            font-family: "Proxima Nova", sans-serif;
            letter-spacing: -0.5px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                // width: 40%;
                margin-bottom: 50px;
            }

            h1 {
                @extend .bold;
                font-size: 50px;
                line-height: 58px;
                color: $binfinite-pink-1;

                margin-bottom: 18px;
            }

            p,
            div,
            a,
            span {
                font-size: 30px;
                line-height: 35px;
                color: $binfinite-darkblue-1;
            }

            a {
                margin: 40px 0;
            }
        }
    }

    .hero {
        padding: 0;

        h3 {
            display: block;
            //background: #ccc;
            height: 700px;
            margin: 0px;
            background-repeat: no-repeat;
            background-position: 0%;
            background-size: 100%;
        }

        .ribbon {
            background: $binfinite-pink-1;

            .ribbon-amount {

                &,
                &>div {
                    font-family: "Proxima Nova Bold", sans-serif;
                    @extend .bold;
                    font-size: 35px;
                    color: #fff;

                    float: left !important;
                    text-align: right;
                    padding: 24px 45px;
                    width: 50%;
                }

            }

            .ribbon-amount-only {
                font-family: "Proxima Nova Bold", sans-serif;
                @extend .bold;
                font-size: 35px;
                color: #fff;
                padding: 24px 45px;
                text-align: center;
            }

            .ribbon-qualify {
                font-family: "Proxima Nova Bold", sans-serif;
                @extend .bold;
                font-size: 35px;
                color: #fff;

                float: right !important;
                padding: 24px 45px;
                background: $binfinite-pink-3;
                width: 50%;

                border-radius: 100px 0 0 100px;
            }
        }
    }

    .item .ribbon {
        .ribbon-text {
            font-family: "Montserrat", sans-serif;
            @extend .bold;
            font-size: 13px;
            color: #fff;
            padding: 12px 18px;
        }
    }

    .partner-about {
        .partner_logo {
            text-align: center;

            >img {
                margin-top: 80px;
                margin-bottom: 20px;
                width: 100%;
                max-width: 800px;
                max-height: 400px
            }
        }

        .partner-title {
            font-family: "Proxima Nova", sans-serif;
            color: $binfinite-darkblue-2;
            font-size: 50px;
            text-align: center;
            display: block;
            margin: 20px 0;
        }

        .partner-bio {
            -webkit-column-count: 2;
            /* Chrome, Safari, Opera */
            -moz-column-count: 2;
            /* Firefox */
            column-count: 2;

            -webkit-column-gap: 40px;
            /* Chrome, Safari, Opera */
            -moz-column-gap: 40px;
            /* Firefox */
            column-gap: 40px;

            font-family: "Proxima Nova", sans-serif;
            color: $binfinite-darkblue-1;
            font-size: 20px;
            letter-spacing: -0.5px;
            line-height: 25px;

            margin-bottom: 50px;
        }

    }

    .earn-partner-cards {
        padding: 55px 0;
    }

    .card {
        height: auto;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        margin-bottom: 5px;
        border: none;

        .card-header {
            padding: 0;
            margin-bottom: 0;
            color: inherit;
            background-color: #fff;
            border-bottom: none;

            .fas {
                transition: .3s transform ease-in-out;
            }

            a {
                font-family: "Proxima Nova Semibold", sans-serif;
                font-size: 20px;
                padding: 28px 30px;

                &.d-block {
                    position: relative;
                }

                // For card header styling
                &[aria-expanded="false"] {
                    color: $binfinite-darkblue-2;
                }

                &[aria-expanded="true"] {
                    color: $binfinite-pink-1;
                }

                // For card arrows styling
                &.d-block::after {
                    color: $binfinite-darkblue-2;

                    @extend %fa-icon;
                    @extend .fas;
                    content: "\f063";
                    color: #B2D235;
                    top: auto;
                    right: 30px;
                    position: absolute;
                }

                &.d-block[aria-expanded="true"]::after {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);

                    color: $binfinite-pink-1;
                }
            }
        }

        .card-body {
            font-family: "Proxima Nova", sans-serif;
            font-size: 20px;
            padding: 0 30px 30px;

            div[class*=col] {
                padding: 0 15px;
            }
        }
    }
}
