.earn-points {
    .content2.menu {
        padding: 32px 0;
    }

    .earn-brand {
        flex: 24.5%;
        width: 100%;
        max-width: 277px;

        &+.earn-brand+.earn-brand+.earn-brand+.earn-brand {
            margin-top: 25px;
        }

        .ribbon {
            background: $binfinite-darkblue-2;

            .ribbon-terms {
                font-family: "Montserrat", sans-serif;
                @extend .bold;
                font-size: 13px;
                color: #fff;

                float: left !important;
                padding: 12px 18px;
            }
        }

        h3 {
            display: block;
            background: #fff;
            background-size: contain;
            height: 150px;
            margin: 0px;
            padding: 24px 28px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    p {
        font-family: "Proxima Nova", sans-serif;
        font-size: 20px;
        letter-spacing: -0.5px;
        color: $binfinite-darkblue-1;
    }

    div[class*=col] {
        padding: 0;
    }

    .collect-points .item {
        background: #F5F5F5;
    }
}
