.home {
    .content {
        width: 100%;
        padding: 50px 0;

        // .collect-points {
        //     padding-top: 70px;
        // }

        .latest-deal,
        .special-deals {
            padding-top: 70px;
        }

        .ads .leaderboard {
            float: left;
            margin-right: 5px;
        }

        .latest-deal {
            padding-top: 30px;
        }
    }

    .content2 {
        background: #fff;
        width: 100%;
        padding: 50px 0;

        .ads {
            .download-app {
                float: left;
                margin-right: 5px;
            }

            .leaderboard {
                float: left;
            }
        }

        &.points-transaction {
            padding-top: 0px;
        }
    }

    .earn-points .content2 {
        padding: 37px 0;
    }
}
