.membership {
    .centered-title {
        margin-bottom: 80px;
    }

    .parent {
        justify-content: center;
    }

    .button-container {
        margin-bottom: 0;
        padding-bottom: 40px;
    }

    .item {
        display: grid;
        background: transparent;
        grid-template-rows: 200px auto;

        img {
            background: transparent;
            display: block;
            margin: auto;
        }

        .title {
            color: $binfinite-darkblue-2;
            font-size: 40px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 49px;
            margin: 0;
        }

        .description {
            @extend .regular;
            font-size: 20px;
            text-align: center;
            display: block;
            letter-spacing: 0.5px;
            line-height: 25px;
        }
    }

    div.appstore-links {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 10px;

        p {
            &.mobile-app-banner {
                >img {
                    width: 219.4px;
                }
            }
        }
    }

    iframe {
        width: 100%;
        height: 379px;
        margin-bottom: 35px;
    }

    h3 {
        background: transparent;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: bottom;
        margin-bottom: 0;
    }
}
