.privacy .container {
    h5 {
        font-family: "Proxima Nova Bold", sans-serif;
        font-size: 20px;
        color: $binfinite-darkblue-2;

        padding-top: 15px;

        &:first-of-type {
            padding-top: 35px;
        }
    }

    span.font-bold {
        font-family: "Proxima Nova Bold", sans-serif;
        font-size: 20px;
        color: $binfinite-darkblue-1;
    }

    .col {
        padding: 0;
    }
}
