.profile {
    .account-photo-container {
        align-items: center;

        .account-photo {
            margin: 30px 35px 10px 0;
        }

        .info-container {
            h5 {
                margin-bottom: 0;
                letter-spacing: -0.5px;
            }
        }
    }

    .cardholders {
        .card {
            >.card-body {
                display: grid;
                grid-template-rows: fit-content(0%);
                position: relative;
            }

            >.unlinked.active {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.82);
                z-index: 2;
                // cursor: pointer;

                background-position: 50% 53%;
                background-repeat: no-repeat;
                background-size: 32.5%;

                background-image: url(/assets/images/locked.png);
            }
        }
    }
}
