.redeem-points {
    .content2.menu {
        padding: 32px 0;
    }

    // .parent {
    //     display: flex;
    //     justify-content: center;
    //     flex-wrap: wrap;
    // }

    // .header {
    //     margin: 30px 0;

    //     span {
    //         font-family: "Proxima Nova", sans-serif;
    //         font-size: 50px;
    //         letter-spacing: -1.2px;
    //         line-height: 58px;
    //         color: $binfinite-darkblue-2;
    //     }

    //     .btn-outline-blue {
    //         font-family: "Montserrat", sans-serif;
    //         @extend .bold;
    //         font-size: 13px;
    //         padding: 17px 39px;
    //     }
    // }

    // .earn {
    //     flex: 31.5%;
    //     background: #fff;
    //     width: 100%;
    //     max-width: 375px;

    //     span {
    //         color: $binfinite-darkblue-1;
    //         font-size: 12px;

    //         &.company {
    //             font-size: 14px;
    //             text-transform: uppercase;
    //             letter-spacing: 1px;
    //         }
    //     }

    //     .text .point-and-redeem {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;

    //         .point {
    //             letter-spacing: -0.5px;
    //             color: $binfinite-darkblue-1;
    //             font-size: 15px;
    //             float: left;
    //             margin-top: 5px;
    //         }
    //     }

    //     h2.title {
    //         font-family: "Proxima Nova Bold", sans-serif;
    //         font-size: 25px;
    //         letter-spacing: -1px;
    //     }

    //     .title {
    //         font-size: 18px;
    //         color: $binfinite-pink-1;
    //         min-height: 59.2px;
    //     }

    //     .redeem {
    //         color: #fff;
    //         border-radius: 40px;
    //         float: right;
    //         padding: 10px 20px;
    //     }
    // }

    .special-deals {
        .ribbon {
            position: relative;
        }

        .text .point-and-redeem {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .title {
                margin-bottom: 0px;
            }
        }

        h3 {
            display: block;
            background: #ccc;
            height: 196px;
            margin: 33px 40px;

            background-repeat: no-repeat;
            background-position: 0%;
            background-size: 100%;
        }
    }

    // h3 {
    //     display: block;
    //     background: #ccc;
    //     height: 250px;
    //     margin: 0px;

    //     background-repeat: no-repeat;
    //     background-position: 0%;
    //     background-size: 100%;
    // }

    // .text {
    //     padding: 15px;
    // }
}
