.support {
    span {
        font-size: 50px;
        letter-spacing: -1.2px;
        line-height: 58px;
        margin-bottom: 10px;
        color: $binfinite-darkblue-2;
    }

    p {
        font-size: 20px;
        letter-spacing: -0.5px;
        line-height: 25px;
        color: $binfinite-darkblue-1;
    }

    ul.section-menu {
        margin-top: 10px;

        li {
            display: inline;
            @extend .bold;

            a {
                padding: 13px 28px;
                border: 2px solid transparent;
                margin-right: 20px;

                &.active {
                    border: 2px solid $binfinite-darkblue-1;
                }

                &:hover,
                &:focus {
                    border: 2px solid $binfinite-darkblue-1;
                    //padding: 13px 45px;
                    //
                }
            }
        }
    }

    .support-cards {
        padding-top: 36px;
    }

    .card {
        height: auto;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        margin-bottom: 5px;
        border: none;

        .card-header {
            padding: 0;
            margin-bottom: 0;
            color: inherit;
            background-color: #fff;
            border-bottom: none;

            .fas {
                transition: .3s transform ease-in-out;
            }

            a {
                font-family: "Proxima Nova Semibold", sans-serif;
                font-size: 20px;
                padding: 28px 30px;

                &.d-block {
                    position: relative;
                }

                // For card header styling
                &[aria-expanded="false"] {
                    color: $binfinite-darkblue-2;
                }

                &[aria-expanded="true"] {
                    color: $binfinite-pink-1;
                }

                // For card arrows styling
                &.d-block::after {
                    color: $binfinite-darkblue-2;

                    @extend %fa-icon;
                    @extend .fas;
                    content: "\f063";
                    color: #B2D235;
                    top: auto;
                    right: 30px;
                    position: absolute;
                }

                &.d-block[aria-expanded="true"]::after {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);

                    color: $binfinite-pink-1;
                }
            }
        }

        .card-body {
            font-family: "Proxima Nova", sans-serif;
            font-size: 20px;
            padding: 0 30px 30px;

            div[class*=col] {
                padding: 0 15px;
            }
        }
    }

    [class*=col] {
        padding: 0;
    }

    .attachment__caption {
        display: none;
    }

    .card-body {
        ul, ol {
            padding: 0;

            li {
                font-size: 15px;
                margin-left: 25px;
                padding: 0;
            }
        }
        
        ul li {
            list-style: disc;
        }
    }
}
