// Only
@mixin only-xs {
  @media (min-width: #{$xs-width}) and (max-width: #{$sm-width - 1px}) {
    @content;
  }
}

@mixin only-sm {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
    @content;
  }
}

@mixin only-md {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin only-lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

// Until
@mixin until-xs {
  @media (max-width: #{$sm-width - 1}) {
    @content;
  }
}

@mixin until-sm {
  @media (max-width: #{$md-width - 1}) {
    @content;
  }
}

@mixin until-md {
  @media (max-width: #{$lg-width - 1}) {
    @content;
  }
}

// From
@mixin from-xs {
  @media (min-width: #{$xs-width}) {
    @content;
  }
}

@mixin from-sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin from-md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin from-lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}