// Helper classes
.regular {
    font-family: "Proxima Nova", arial;
    font-weight: normal;
}

.bold {
    font-family: "Proxima Nova Bold", arial;
    font-weight: 800;
}

// Caret vertically center for dropdowns
.dropdown-toggle:after {
    vertical-align: 2px;
}

// Hide slider before its initialized
.slider {
    display: none;

    &.slick-initialized {
        display: block;
    }
}

.flex-no-shrink {
    flex-shrink: 0;
}

.fullwidth-image {
    width: 100%;
}

.py-100 {
    padding: 100px 0 !important;
}
