// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
// $fa-font-path: "../../public/assets/fonts/fontawesome-free-5.7.2-web/webfonts";

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Path
$assetImage: '/assets/images/';

// Screen sizes
$xs-width: 576px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

// BINIFNITE brand colours
$binfinite-pink-1: #ec008c;
$binfinite-pink-2: #CC017A;
$binfinite-pink-3: #B1016A;
$binfinite-darkblue-1: #353745;
$binfinite-darkblue-2: #023f88;

// Shop Online icons
$all: 'All@2x.png';
$shop: 'Shopping@2x.png';
$eat: 'Eat@2x.png';
$health: 'health and beauty@2x.png';
$activity: 'Activities@2x.png';
$motor: 'Motor and Fuel@2x.png';
$utility: 'Utilities@2x.png';
$insurance: 'Insurance@2x.png';
$finance: 'Finance@2x.png';

$all-pink: 'All Hover@2x.png';
$shop-pink: 'Shopping Selected@2x.png';
$eat-pink: 'Eat Selected@2x.png';
$health-pink: 'Health and Beauty Selected@2x.png';
$activity-pink: 'Activities Selected@2x.png';
$motor-pink: 'Motor and Fuel Selected@2x.png';
$utility-pink: 'Utilities Selected@2x.png';
$insurance-pink: 'Insurance Selected@2x.png';
$finance-pink: 'Finance Selected@2x.png';
