// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "./fa5/fontawesome.scss";
@import "./fa5/solid.scss";
@import "./fa5/brands.scss";

// Variables
@import "variables";
@import "helpers";
@import "mixins";
@import "breakpoints";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// General components
@import "./components/faded_slick";
@import "./components/primary_navbar";
@import "./components/secondary_navbar";
@import "./components/footer";
@import "./components/hero";
@import "./components/slider";
@import "./components/partners";
@import "./components/bottom_navbar";
@import "./components/top_picks";
@import "./components/collect_points";
@import "./components/redeemables_slider";
@import "./components/carousel_slider";
@import "./components/navbar_with_icon_top";
@import "./components/special_deals";
@import "./components/preferred_category";
@import "./components/popular_brands";
@import "./components/earn_points_collection";
@import "./components/shoponline_modals";


// Pages
@import "./pages/homepage";
@import "./pages/terms";
@import "./pages/privacy";
@import "./pages/profile";
@import "./pages/register_card";
@import "./pages/earn_points";
@import "./pages/redeem_points";
@import "./pages/shop_online";
@import "./pages/points_transaction_histroy";
@import "./pages/support";
@import "./pages/earn_partner";
@import "./pages/membership";
@import "./pages/exchange";

.btn-pink {
    background: $binfinite-pink-1;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 17px 59px;

    &:hover {
        background: $binfinite-darkblue-2 !important;
        color: #fff !important;
    }

    .secondary-navbar &:hover,
    .hero-bottom-navbar &:hover {
        background: $binfinite-pink-1 !important;
        color: #fff !important;
    }
}

.btn-blue {
    background: $binfinite-darkblue-2;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 17px 101px;

    &:hover {
        background: $binfinite-pink-1 !important;
        color: #fff !important;
    }
}

.btn-outline-blue {
    color: $binfinite-darkblue-2;
    font-size: 20px;
    font-weight: 600;

    border: 2px solid $binfinite-darkblue-2;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background: $binfinite-darkblue-2 !important;
        color: #fff !important;
    }
}

.button-container {
    margin: 40px auto;

    .btn-outline-blue {
        font-size: 13px;
        @extend .bold;
        padding: 17px 57px;
    }

    .btn-rounded {
        border-radius: 10rem;
        padding: 12px 21px;
        text-transform: uppercase;
        @extend .bold;
    }
}

.centered-title {
    color: $binfinite-darkblue-2;
    font-size: 50px;
    text-align: center;
    letter-spacing: -1.2px;
    display: block;
    margin-top: 45px;
    margin-bottom: 25px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.gray {
    background: #edeef4;
}

.gray-2 {
    background: #f4f4f4;
    width: 100%;
    padding: 50px 0;
}

.white {
    background: #fff;
}

.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    h3 {
        background: #ccc;
        height: 250px;
        background-repeat: no-repeat;
        background-size: 375.43px 250px;
        margin-bottom: 0;

        .redeem & {
            height: 196px;
            margin: 33px 40px;
            background-position: 0%;

            .home & {
                height: 284px;
                margin: 0;
                background-size: cover;
            }
        }

        .shop-online .special-deals & {
            // height: 276px;
            // width: 276px;
            background-position: 0%;
            background-size: contain;
        }
    }

    .text {
        padding: 15px;
    }
}

.header {
    margin: 30px 0;

    span {
        font-family: "Proxima Nova", sans-serif;
        font-size: 50px;
        letter-spacing: -1.2px;
        line-height: 58px;
        color: $binfinite-darkblue-2;

        .font-bold {
            @extend .bold;
        }
    }

    .btn-outline-blue {
        font-family: "Montserrat", sans-serif;
        @extend .bold;
        font-size: 13px;
        padding: 17px 39px;
    }
}

.collection-grid-3 {
    .parent {
        flex: 31.5%;
    }
}

.left-aligned-title {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 58px;
    margin-bottom: 10px;
    color: #023f88;
}

// Login modal
.login-modal {
    .modal-dialog {
        max-width: 1170px;
    }

    .login-left {

        .login-form,
        .login-social-media {
            text-align: center;
            margin: 50px auto;
            width: 350px;

            .small-text {
                color: #4c4e5a;
            }
        }

        .login-form {
            .form-control {
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.03);
                border-width: 1px;
                border-style: solid;
                border-color: #e4e5ec;
            }

            .login-btn {
                border-radius: 0;
                border-width: 1px;
                border-style: solid;
                width: 100%;
            }

            .signup-text {
                color: #4c4e5a;
            }

            .signup-btn {
                color: $binfinite-pink-1;
            }
        }

        .login-social-media {
            .btn-facebook {
                background: #3b5998;
                border-radius: 4px;
                color: #fff;
                width: 100%;
            }

            .btn i {
                float: left;
            }

            .btn span {
                float: left;
                text-align: center;
                width: 90%;
                text-transform: uppercase;
                @extend .bold;
                font-size: 13px;
            }

            .btn-google {
                background: #cc3333;
                border-radius: 4px;
                color: #fff;
                width: 100%;
            }
        }

        .welcome {
            color: $binfinite-darkblue-2;
        }
    }
}

//Welcome modal
.welcome-modal {
    .modal-dialog {
        max-width: 600px;

        .close {
            color: $binfinite-darkblue-2;
            text-align: right;
        }

        .welcome-content {
            /* margin: 120px auto 150px auto; */
            text-align: center;

            h3 {
                color: $binfinite-darkblue-2;
            }
        }

        // .btn-container {
        //     padding-top: 30px;

        //     button {
        //         padding: 10px;
        //     }
        // }
    }

    .modal-content {
        padding: 20px;
    }
}

.img-circle {
    background-color: #ccc;
    border-radius: 50%;
}

label.required-label {

    &:after {
        font-size: 12px;
        content: ' *';
        color: red;
    }
}