.hero-bottom-navbar {
    background: $binfinite-darkblue-2;
    padding: 22px 0;

    .b-card {
        .card-img {
            position: absolute;
            top: -50px;
            z-index: 1;
            height: 162px;
            width: 232px;
            margin-left: -5px;

            @include until-xs {
                display: none;
            }
        }

        .card-text {
            padding-left: 245px;

            @include until-xs {
                padding-left: initial;
            }

            span {
                font-family: "Proxima Nova Bold", sans-serif;
                font-size: 30px;
                color: #fff;

                @include until-md {
                    font-size: 22px;
                }
            }

            .btn {
                border-radius: 40px;

                &.btn-pink {
                    padding: 12px 45px;

                    @include until-xs {
                        padding: 12px 20px;
                    }

                    @include until-md {
                        padding: 12px 20px;
                    }
                }
            }
        }
    }

    .menber-stats {
        span {
            font-family: "Proxima Nova", sans-serif;
            font-weight: bold;
            font-size: 30px;
            margin-right: 30px;
            padding-top: 20px;
            color: #fff;
            letter-spacing: -0.5px;
            line-height: 33px;

            &.light-text,
            &.bold-text,
            &.small-text {
                letter-spacing: 0;
            }

            &.light-text {
                font-family: "Proxima Nova Light", sans-serif;
                font-size: 15px;
            }

            &.bold-text,
            &.small-text {
                font-family: "Proxima Nova Bold", sans-serif;
            }

            &.small-text {
                font-size: 20px;
            }
        }
    }
}
