/* carousel */
.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    
    .carousel-control {
        position: absolute;
        top: 40%;
        /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
    }

    /* Previous button  */
    .carousel-control.left {
        left: -38px;
        background-image: none;
        background: none repeat scroll 0 0 #023f88;
        border-radius: 25px;
        padding: 22.5px;
        float: left;

        @include until-sm {
            left: 20px;
        }
    }

    /* Next button  */
    .carousel-control.right {
        right: -28px;
        background-image: none;
        background: none repeat scroll 0 0 #023f88;
        border-radius: 25px;
        padding: 22.5px;
        float: right;

        @include until-sm {
            right: 20px;
        }
    }

    .fa-chevron-left {
        width: 11px;
    }

    .fa-chevron-right {
        width: 7px;
    }

    .carousel-control {
        color: #ffffff;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        outline: #ffffff;
        background-size: 100%, 100%;
        border-radius: 50%;
        background-image: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        height: 14px;
    }

    /* Changes the position of the indicators */
    .carousel-indicators {
        /* right: 50%; */
        /* top: auto; */
        bottom: -10px;
        /* margin-right: -19px; */
    }

    .carousel-indicators>li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 0;
    }

    /* Changes the colour of the indicators */
    .carousel-indicators li {
        background: #a9abac;
    }

    .carousel-indicators .active {
        background: #ec008c;
    }

    /* End carousel */

}

