.collect-points {
    .item {
        background: #fff;
        display: inline-block;
        width: 100%;
        max-width: 375.43px;
        position: relative;

        .text {
            padding: 15px 15px 20px 15px;
            text-align: center;
            height: 171px;
            display: flex;
            flex-direction: column;
        }

        span {
            color: $binfinite-darkblue-1;
            font-size: 12px;
        }

        .title {
            @extend .bold;
            color: $binfinite-darkblue-1 !important;
            font-size: 20px !important;
            padding: 0 24px;
            height: 68.4px;
            margin: auto 0 !important;
            line-height: 22px;
        }

        .collect {
            border-radius: 40px;
            display: inline-block;
            padding: 12px 45px;
            margin: auto;

            &:hover {
                background: $binfinite-pink-1;
                color: #fff;
            }
        }
    }

    h3 {
        background: #ccc;
        height: 250px;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 375.43px 250px;
    }

    .ribbon {
        position: absolute;
        top: 20px;
        left: -15px;
        z-index: 1;

        @extend .bold;
        padding: 10px 20px 10px 28px;
        background: $binfinite-pink-1;
        font-size: 25px;
        color: #fff;
        letter-spacing: -0.5px;

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12px 15px;
            border-color: transparent transparent darken($binfinite-pink-1, 20%) transparent;
            top: -12px;
            left: 0px;
        }
    }
}
