// Following is temporary for meeting rush. Please put this in a component sass so it can be shared
.earn-points-collection {
    .item-inner {
        margin: 0 10px;
        background: #fff;
    }

    .item {
        background: transparent;

        span {
            color: #353745;
            font-size: 12px;
        }

        .title {
            font-size: 18px;
            color: $binfinite-pink-1;
            min-height: 59.2px;
        }

        h2 {
            &.title {
                font-family: "Proxima Nova Bold", sans-serif;
                font-size: 25px;
                letter-spacing: -1px;

                @include until-sm {
                    font-size: 18px;
                }

                @include only-md {
                    font-size: 20px;
                }
            }
        }

        .text {
            padding: 15px 15px 20px 15px;
        }

        .point {
            float: left;
            margin-top: 5px;
        }

        .redeem {
            color: #fff;
            border-radius: 40px;
            float: right;
            padding: 10px 20px;

            &:hover {
                background: $binfinite-darkblue-1;
            }
        }

    }

    .point-and-redeem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
