.faded-slick {
    overflow: hidden;
    // max-width: 1800px;
    margin: auto;

    .slick-prev,
    .slick-next {
        z-index: 2;
        opacity: 1;
        width: 40px;
        height: 40px;

        &:before {
            font-size: 40px;
            color: #023f88;
        }
    }

    .slick-prev {
        left: 10%;
    }

    .slick-next {
        right: 10%;
    }

    .slick-slide {
        opacity: 0.2;
        transition: opacity 0.5s ease-in-out;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .slick-slide.no-opacity {
        opacity: 1;

        .overlay {
            display: none;
        }
    }
}
