footer {
    background: $binfinite-darkblue-1;
    padding: 80px 0 50px 0;
    color: #7f829a;

    .brand-logo>img {
        margin: 0;
        margin-top: -30px;
        margin-left: -40px;
        height: 12rem;
    }

    .site-title {
        padding: 0 0 15px 0;
        color: #a5a8bb;
        text-transform: uppercase;
        font-weight: bold;
    }

    .site-map a,
    .copyright a {
        color: #7f829a;
    }

    .site-map li {
        margin: 6px 0 0 0;
    }

    .partner-login {
        color: #fff;
        padding: 15px 20px;
        width: 100%;
    }

    .partner-text {
        color: #7f829a;
        display: block;
        padding-top: 26px;
        text-align: center;
    }

    hr {
        margin: 30px 0;
    }

    .social-media {
        display: flex;
        justify-content: flex-start;

        a {
            margin: 0 5px 0 0;
            background: #3a3c4c;
            width: 40px;
            height: 40px;
            line-height: 43px;
            margin-right: 20px;
            display: inline-block;
            text-align: center;
            color: #a7abbd;

            &::hover {
                background: $binfinite-pink-1;
                color: #fff;
            }
        }
    }

    .copyright {
        padding: 20px 0 0 0;

        ul li {
            float: left;
            margin: 0 5px;
            color: #7f829a;
        }

        div {
            color: #7f829a;
        }
    }

    .mobile-app-banner img {
        width: 200px;
    }
}
