    .hero {
        width: 100%;
        padding: 78px 0 168px 0;
        height: 100%;

        .hero-image {
            background: #ccc;
            z-index: -1;
            position: absolute;
            height: 497px;
            width: 1598px;
            max-width: 100%;
            background-size: cover;
            background-position: 50% 50%;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.shop {
                background: #ccc;
                z-index: -1;
                position: absolute;
                height: 100%;
                // height: 493px;
                width: 100%;
                // width: 1599px;
                max-width: 100%;
                background-size: cover;
                background-position: 50% 50%;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        h1 {
            @extend .bold;
            font-size: 50px;
            letter-spacing: -1px;
            line-height: 58px;
            color: $binfinite-darkblue-2;
        }

        p {
            font-size: 20px;
            letter-spacing: -0.1px;
            line-height: 25px;
            margin-top: 20px;
        }

        .btn {
            margin-top: 25px;

            &.btn-pink {
                padding: 17px 82px;
            }
        }
    }

    .hero-member {
        width: 100%;
        height: 100%;

        .hero-image {
            max-width: 100%;
            width: 100%;
            height: 493px;
        }
    }

    .hero-partner-profile {
        width: 100%;
        height: 100%;

        // .hero-image {
        //     background: #ccc;
        //     z-index: -1;
        //     position: absolute;
        //     height: 497px;
        //     width: 1598px;
        //     max-width: 100%;
        //     background-size: contain;
        //     background-position: 50% 50%;

        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

        .multi-item-carousel {
            overflow: hidden;

            img {
                height: auto;
                width: 100%;
            }

            .carousel-inner {
                width: 150%;
                left: -25%;

                >.carousel-item.next,
                >.carousel-item.active.right {
                    -webkit-transform: translate3d(33%, 0, 0);
                    transform: translate3d(33%, 0, 0);
                }

                >.carousel-item.prev,
                >.carousel-item.active.left {
                    -webkit-transform: translate3d(-33%, 0, 0);
                    transform: translate3d(-33%, 0, 0);
                }
            }

            .item__third {
                float: left;
                position: relative;
                /* captions can now be added */
                width: 33.33333333%;
            }

            .carousel-indicators {
                left: 12% !important;
                right: inherit;
            }
        }
    }
