.navbar {
    padding: 0px;

    &.navbar-icon-top {
        &.navbar-expand-lg .navbar-nav .nav-link {
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            padding-top: 0;
            padding-bottom: 0;

            .img-circle {
                // display: block;
                // width: 50px;
                margin: 0px auto 13px auto;
                border-radius: 0;
                // top: 0;
                // line-height: 24px;

                background-color: transparent;
                position: relative;
                height: 50px;
                width: 50px;
                background-position: 50% 50%;
                background-size: cover;
            }
        }

        a {
            color: #023f88;
            white-space: nowrap;

            &.nav-link {
                padding: 0px;
            }
        }

        li {
            padding: 0 30px;

            &:first-child {
                padding: 0 30px 0 0;
            }

            &:last-child {
                padding: 0 0 0 30px;
            }

            >a {

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: #ec008c;
                }
            }
        }
    }
}


.category-icon-all {
    .img-circle {
        @include bgimage($all);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($all-pink);
        }
    }
}

.category-icon-shop {
    .img-circle {
        @include bgimage($shop);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($shop-pink);
        }
    }
}

.category-icon-eat {
    .img-circle {
        @include bgimage($eat);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($eat-pink);
        }
    }
}

.category-icon-health {
    .img-circle {
        @include bgimage($health);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($health-pink);
        }
    }
}

.category-icon-all {
    .img-circle {
        @include bgimage($all);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($all-pink);
        }
    }
}

.category-icon-activity {
    .img-circle {
        @include bgimage($activity);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($activity-pink);
        }
    }
}

.category-icon-motor {
    .img-circle {
        @include bgimage($motor);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($motor-pink);
        }
    }
}

.category-icon-utility {
    .img-circle {
        @include bgimage($utility);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($utility-pink);
        }
    }
}

.category-icon-insurance {
    .img-circle {
        @include bgimage($insurance);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($insurance-pink);
        }
    }
}

.category-icon-finance {
    .img-circle {
        @include bgimage($finance);
    }
    
    .active, &:hover {
        .img-circle {
            @include bgimage($finance-pink);
        }
    }
}