.partners {
    margin-top: 50px;

    // @at-root .content2 {
    //     padding: 100px 0 !important;
    // }

    .title {
        color: $binfinite-pink-1;
        font-size: 50px;
        text-align: center;
        display: block;
        letter-spacing: -2px;
        line-height: 58px;
        margin-bottom: 40px;
    }

    .partner-left-image {
        max-width: 100%;
        width: 382px;
        height: 590px;
        margin: auto;
    }

    .partner-right-image {
        max-width: 100%;
        width: 578px;
        height: 375px;

        display: flex;
    }
}
