.popular-brands {
    .popular-brands-title {
        color: $binfinite-darkblue-2;
        font-size: 50px;
        text-align: center;
        display: block;
        margin: 0 0 20px 0;
    }

    h3 {
        background: #ccc;
        padding: 0;
        position: relative;
        height: 180px;
        width: 177px;
    }
}
