.preferred-category {
    padding-top: 65px;

    .centered-title {
        margin: 0 0 20px 0;
    }

    .row {
        padding-bottom: 15px;
    }

    .ribbon {
        position: absolute;
        z-index: 1;

        @extend .bold;
        padding: 10px 20px;
        background: $binfinite-pink-1;
        font-size: 18px;
        color: #fff;
    }

    h2 {
        background: #ccc;
        color: #3498db;
        font-size: 36px;
        line-height: 100px;
        padding: 2%;
        position: relative;
        text-align: center;
        height: 277px;
        width: 570px;
    }

    h3 {
        background: #ccc;
        color: #3498db;
        font-size: 36px;
        line-height: 100px;
        padding: 2%;
        position: relative;
        text-align: center;
        height: 220px;
        width: 370px;
    }

    // .slider .item .title {
    //     font-family: "Proxima Nova Bold", sans-serif;
    //     font-size: 25px;
    //     color: $binfinite-pink-1;
    //     min-height: 64px;
    // }
}
