.primary-navbar {
    a {
        font-size: 16px;
        color: #fff;

        &.navbar-brand>img {
            margin: 4px 20px 0 -8px;
            height: 3rem;
        }
    }

    .container {
        .navbar-nav {
            .login-profile {
                .fa-user-circle {
                    float: left;
                    padding: 5px 10px 5px;
                }

                .login-profile-text {
                    float: left;
                    margin-left: 5px;
                    text-align: left;
                    line-height: initial;
                }

                .avatar {
                    max-height: 35.61px;
                    max-width: 35.61px;
                    position: relative;
                    top: 2px;
                }

                .dropdown-toggle {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-width: 0px;

                    &:after {
                        position: relative;
                        top: 12px;
                        margin-left: 0.55em;
                    }

                    background-color: transparent;
                    border-color: transparent;

                    &:hover,
                    &:active {
                        background-color: transparent;
                        border-color: transparent;
                    }
                }

                justify-content: flex-start;
                align-items: center;

                &.country-selector .dropdown-menu .dropdown-item {
                    color: $binfinite-darkblue-2 !important;
                }

                &.nav-item {
                    a {
                        h3 {
                            position: relative;
                            height: 35.61px;
                            width: 35.61px;
                            background-position: 50% 50%;
                            background-size: 100%;
                        }

                        .greet-name {
                            font-family: "Proxima Nova", sans-serif;
                            font-size: 12px;
                            line-height: 15px;
                        }

                        .greet-points {
                            font-family: "Proxima Nova Thin", sans-serif;
                            font-size: 24px;
                            line-height: 25px;

                            b {
                                font-family: "Proxima Nova Bold", sans-serif;
                            }
                        }
                    }
                }
            }

            .login-link {
                text-align: right;
                flex-grow: 1;

                .nav-link {
                    display: inline;
                }
            }
        }
    }

    .nav-link {
        color: #fff;
        font-family: "Proxima Nova";
    }

    .search-text {
        font-family: "Proxima Nova";
        font-size: 18px;
        border: 0;
    }

    .search-dropdown {
        background: #f4f5fa;
        border: none;
        color: #a7abbd;
    }

    .dropdown-item {
        font-family: "Proxima Nova Semibold", sans-serif;
        color: $binfinite-darkblue-2;
        font-size: 20px;
        line-height: 35px;

        padding: 0.05rem 4.05rem 0.05rem 1.05rem;

        &:focus,
        &:hover {
            text-decoration: none;
            background-color: #ebebeb;
        }
    }

    .btn-search {
        background: #023f88;
        border-radius: 0 0.25rem 0.25rem 0;
        //padding: .25rem .95rem !important;
        color: #fff;

        &:hover {
            color: #eee;
        }
    }

    .search-text,
    .search-dropdown,
    .btn,
    .show>.btn-secondary.dropdown-toggle {
        &:focus {
            box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
        }

        &:after {
            border-top: 0.35em solid;
        }
    }
}
