.redeem-suggestions {
    // .content & {
    //     padding: 90px 0;
    // }

    .suggest-header {
        display: grid;

        .redeem-suggestions-title {
            font-family: "Proxima Nova Bold", sans-serif;
            font-size: 40px;
            color: $binfinite-darkblue-2;

            letter-spacing: -1px;
            line-height: 49px;
        }

        .redeem-suggestions-carousel-page {
            font-family: "Montserrat, Semi Bold", sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: #a7abbd;

            text-transform: uppercase;
            margin-top: 20px;

            line-height: 50px;
        }

        .controls {
            align-self: end;
            margin-bottom: 2px;
        }

        @include until-sm {
            .redeem-suggestions-header {
                text-align: center;
            }

            .controls {
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }

    .col-item {
        /* border: 1px solid #E1E1E1; */
        /* border-radius: 5px; */
        background: #fff;
        box-shadow: 0 2px 6px rgba(69, 73, 91, 0.08);

        .photo img {
            margin: 0 auto;
            width: 100%;
        }

        .info {
            padding: 10px;
            border-radius: 0 0 5px 5px;
            // margin-top: 1px;
        }

        &:hover .info {
            background-color: #f5f5dc;
        }

        .redeem-text {
            text-align: center;

            h5 {
                line-height: 20px;
                margin: 0;
            }
        }
    }

    .item {
        margin: 2px 10px !important;

        // .text {
        //     padding: 20px 10px;
        // }
    }

    .redeem-item,
    .redeem-company,
    .redeem-point {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -1px;
    }

    .redeem-item,
    .redeem-company {
        color: $binfinite-darkblue-1;
    }

    .redeem-point {
        font-family: 'Proxima Nova Bold', sans-serif;
        padding-top: 8px;
        color: $binfinite-pink-1;
    }

    [data-slide="prev"] {
        margin-right: 10px;
    }

    .btn-slider {
        background-color: #fff;
        color: $binfinite-darkblue-2;
        border: 0px;
        box-shadow: 0px 2px 6px rgba(69, 73, 91, 0.08);
        padding: 20.3px 32px;
        border-radius: 0px;
        margin: 0px 2px;

        margin-top: auto;
    }
}
