.secondary-navbar {
    background: $binfinite-darkblue-2;
    padding: 20px 0;

    ul li {
        float: left;
        margin: 0 17px 0;

        &:first-child {
            margin-left: 0px;
            margin-right: 8px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    a {
        font-family: "Proxima Nova Bold", sans-serif;
        font-size: 18px;
        color: #fff;
    }

    .btn-pink {
        background: $binfinite-pink-1;
        border-radius: 0px;
        padding: 9.19px 23px;
        margin: 12.81px 0px;
    }

    .btn-shop-online {
        text-transform: initial;
    }
}
