/*Merchant Dialog*/
.merchant-dialog-modal .balance-text{
  color:#ec008c;
}

.category-all{
  margin: auto;
}

.merchant-dialog-steps-modal {
	h4{
	  color:#ec008c;
	}
	.dialog-body{
	    margin: 50px 50px;
	}
	.info-container{
	  text-align: center;
	}
	.info-container img{
	  width: 80%;
	  margin-left: 10%;
	}
	.btn-continue{
	  margin: auto;
	  margin-top: 20px;
	}

}