.slider {
    // .shop-online .special-deals & {
    //     position: relative;
    // }

    .item {
        margin: 0 10px;

        &.slick-slide {
            top: 15px;

            .text {
                padding: 15px 20px 30px;

                .home & {
                    top: 0;
                    // padding: 20px 10px;
                }

                .shop-online .special-deals & {
                    top: 0;
                    // padding: 15px 20px;
                    // position: relative;
                }
            }
        }
    }
}

.item {
    background: #fff;
    width: 375.43px;

    .collection-grid-3 &+.item+.item+.item {
        margin-top: 30px;
    }

    .ribbon {
        background: $binfinite-pink-1;

        .ribbon-amount {
            font-family: "Montserrat", sans-serif;
            @extend .bold;
            font-size: 13px;
            color: #fff;

            float: left !important;
            padding: 12px 18px;
        }

        .ribbon-qualify {
            font-family: "Montserrat", sans-serif;
            @extend .bold;
            font-size: 13px;
            color: #fff;

            float: right !important;
            padding: 12px 14px;
            background: $binfinite-pink-2;

            border-radius: 100px 0 0 100px;
        }

        .shop-online .special-deals & {
            position: absolute;
            z-index: 1;

            @extend .bold;
            padding: 10px 20px;
            font-size: 25px;
            color: #fff;

            &::before {
                position: absolute;
                content: '';
                border-style: solid;
                border-width: 13px 16px 0 0;
                border-color: $binfinite-pink-1 transparent $binfinite-pink-1 transparent;
                top: 57px;
                left: 0px;
            }
        }
    }

    .text {
        span {
            color: $binfinite-darkblue-1;
            font-size: 12px;
        }

        .title {
            font-family: "Proxima Nova Bold", sans-serif;
            font-size: 25px;
            letter-spacing: -1px;
            margin-right: 50px;

            // font-size: 18px;
            color: $binfinite-pink-1;
            min-height: 59.2px;

            @include until-sm {
                font-size: 20px;
            }

            @include only-md {
                font-size: 23px;
            }

            .special-deals & {
                min-height: 64px;
            }
        }

        .title-flex {
            font-family: "Proxima Nova Bold", sans-serif;
            font-size: 25px;
            letter-spacing: -1px;
            margin: 0;
            margin-right: 50px;
            color: $binfinite-pink-1;

            @include until-sm {
                font-size: 20px;
            }

            @include only-md {
                font-size: 23px;
            }

            .special-deals & {
                min-height: 64px;
            }
        }

        .company {
            color: $binfinite-darkblue-1;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            @extend .bold;
        }

        .point-and-redeem {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .point {
                float: left;
                margin-top: 5px;
                font-size: 15px;
            }

            .redeem {
                color: #fff;
                border-radius: 40px;
                float: right;
                padding: 10px 20px;
                text-transform: uppercase;

                &:hover {
                    background: $binfinite-darkblue-1;
                }
            }
        }

        .description {
            color: $binfinite-darkblue-1;
            font-size: 15px;
            letter-spacing: 0px;

            .shop-online .special-deals & {
                height: 4em; // that's one line, 2em for 2 lines, etc...
                line-height: 1.5em; // the height of one text line
                overflow: hidden;
            }
        }

        .points {
            text-align: end;
            margin-top: 20px;

            .small-text,
            .point-amount {
                font-family: "Proxima Nova Bold", sans-serif;
                color: $binfinite-darkblue-2;
            }

            .small-text {
                vertical-align: top;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0;
            }

            .point-amount {
                font-size: 25px;
                line-height: 30px;
                letter-spacing: -1px;
            }
        }
    }
}
