.top-picks {
    .ribbon {
        position: absolute;
        top: -15px;
        left: 29px;
        z-index: 1;
        max-width: 80.7px;

        &::before {
            content: '';
            position: absolute;
            left: -17px;
            border-style: solid;
            border-width: 0 0 15px 17px;
            border-color: transparent transparent darken($binfinite-pink-1, 20%) transparent;
        }

        .ribbon-text {
            @extend .bold;
            padding: 6px 16px 5px 16px;
            background: $binfinite-pink-1;
            font-size: 25px;
            color: #fff;
            letter-spacing: -0.5px;
            text-align: center;
            line-height: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            border: 40.4px solid $binfinite-pink-1;
            border-top: 0;
            border-bottom: 23px solid transparent;
        }
    }
}
