@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* Include new fonts */
/* @font-face {
    font-family: "Proxima Nova";
    src:
        url("../fonts/Proxima Nova Regular.otf") format("opentype"),
        url("../fonts/Proxima Nova Regular Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Thin.otf") format("opentype"),
        url("../fonts/Proxima Nova Thin Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Semibold.otf") format("opentype"),
        url("../fonts/Proxima Nova Semibold Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Light.otf") format("opentype"),
        url("../fonts/Proxima Nova Light Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Extrabold.otf") format("opentype"),
        url("../fonts/Proxima Nova Extrabold Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Bold.otf") format("opentype"),
        url("../fonts/Proxima Nova Bold Italic.otf") format("opentype"),
        url("../fonts/Proxima Nova Black.otf") format("opentype"),
        url("../fonts/Proxima Nova Black Italic.otf") format("opentype");
} */

@font-face {
    font-family: "Proxima Nova";
    src: url("/assets/fonts/Proxima Nova Regular.otf") format("opentype");
}

/* @font-face {
    font-family: 'Proxima Nova';
    src: url("/assets/fonts/Dellamonde.otf") format("opentype");
} */

/* @font-face {
    font-family: 'Proxima Nova Italic';
    src: url("/fonts/Proxima Nova Regular Italic.otf") format("opentype");
}*/

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("/assets/fonts/Proxima Nova Bold.otf") format("opentype");
}

/* @font-face {
    font-family: 'Proxima Nova Bold Italic';
    src: url("/fonts/Proxima Nova Bold Italic.otf") format("opentype");
}
*/
@font-face {
    font-family: "Proxima Nova Thin";
    src: url("/assets/fonts/Proxima Nova Thin.otf") format("opentype");
}

/* 
@font-face {
    font-family: "Proxima Nova Thin Italic";
    src: url("/fonts/Proxima Nova Thin Italic.otf") format("opentype");
}
*/
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("/assets/fonts/Proxima Nova Semibold.otf") format("opentype");
}

/* 
@font-face {
    font-family: "Proxima Nova Semibold Italic";
    src: url("/fonts/Proxima Nova Semibold Italic.otf") format("opentype");
}
*/
@font-face {
    font-family: "Proxima Nova Light";
    src: url("/assets/fonts/Proxima Nova Light.otf") format("opentype");
}

/*
@font-face {
    font-family: "Proxima Nova Light Italic";
    src: url("/fonts/Proxima Nova Light Italic.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Extrabold";
    src: url("/fonts/Proxima Nova Extrabold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Extrabold Italic";
    src:
        url("/fonts/Proxima Nova Extrabold Italic.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("/fonts/Proxima Nova Bold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold Italic";
    src: url("/fonts/Proxima Nova Bold Italic.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Black";
    src: url("/fonts/Proxima Nova Black.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Black Italic";
    src: url("/fonts/Proxima Nova Black Italic.otf") format("opentype");
} */

/* ==========================================================================
   Jason Phoon custom styles
   ========================================================================== */

body,
p,
a,
div,
span,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Proxima Nova", sans-serif;
}

body,
div,
a,
p,
span {
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul,
li,
hr {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px solid #7f829a;
}

ul li {
    list-style: none;
}

button {
    border: 0;
}

label {
    cursor: default;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 44px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

section {
    position: relative;
}

/* Master Class */
.container {
    max-width: 1180px;
    padding: 0;
}

/* .navbar {
    padding: 20px;
} */

.navbar .login-profile .hello-text {
    font-size: 12px;
}

.navbar .login-profile .dropdown-menu .dropdown-item {
    color: #023f88 !important;
}

.close {
    color: #023f88;
}

.modal-container {
    padding: 20px 30px;
}



.modal-dialog .btn-container {
    margin: 50px 0px;
}

.modal-dialog .btn-container .btn {
    margin-left: 10px;
}

/* .modal-dialog .btn-container .btn-yes {
    width: 100px;
} */
/* .info-container {
    margin-top: 25px;
}

.profile .section .info-container .form-group {
    margin-bottom: 1.2rem;
} */
.modal-dialog .btn-container .btn-yes {
    padding: 17px 45px;
}

/* Register page */
.register h1 {
    color: #023f88;
    text-align: center;
}

.register form {
    margin-top: 30px;
}

.register form .btn-signup {
    float: right;
}

.btn-blue {
    background: #023f88;
}

.btn-pink {
    background: #ec008c;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 17px 59px;
}

.clear {
    clear: both;
}

.bg-pink {
    background: #ec008c;
}

/* ==========================================================================
   Hanis custom styles
   ========================================================================== */

/* Master Class */
.partners-carousel-text {
    text-align: center;
    margin-top: 18px;
}

.partners-carousel-text .partners-header {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 45px;
    color: #ec008c;

    line-height: 45px;
}

.find-out-more-item .find-out-more-item-text {
    padding: 17px 43px;
    margin-bottom: auto;
    margin-top: auto;
}

.find-out-more-item .partner-right-image-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #464855;
}

.find-out-more-item .btn-pink.more {
    margin-top: 30px;
    padding: 10px 75px;

    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;

    line-height: 34px;
}

.btn-blue {
    background: #023f88;
    color: #fff;
    font-weight: 500;
}

/* .collect-points .slick-slider .slick-dots {
    display: none;
} */

.input-group input {
    height: 38px;
}

/* Home page Class */
.profile .heading {
    font-family: "Proxima Nova", sans-serif;
    font-size: 50px;
    letter-spacing: -1.2px;
    color: #023f88;
}

.profile .section {
    margin-bottom: 44px;
    margin-top: 10px;
}

.info-container {
    margin-top: 25px;
}

.profile .section .info-container .form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 0.3rem;

    font-size: 12px;
    font-weight: 600;
    color: #353745;
    letter-spacing: 0.5px;
}

.form-control {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 16px;
    color: #353745;
}

h1 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    color: #023f88;
}

.btn-text-list {
    display: grid;
}

a.btn-text-pink {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 20px;

    letter-spacing: -0.5px;

    color: #ec008c;

    padding-top: 10px;
}

a.btn-text-pink.btn-sm {
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    letter-spacing: -0.5px;
    padding: 0;
}

.profile p,
.profile label.custom-control-label {
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;

    letter-spacing: -0.5px;

    color: #353745;
}

.profile .custom-radio {
    padding-bottom: 16px;
}

.profile .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #ec008c !important;
    border: 0;
}

.profile .section .info-container h5 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 20px;

    color: #353745;
}

.btn-blue {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 101px;
    margin-top: 10px;
}

.profile .section .info-container .card-body {
    font-family: "Proxima Nova", sans-serif;
    color: #023f88;

    padding: 20px;
}

.card {
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body .card-text {
    margin: 0;
}

.profile .section .info-container h5.card-title {
    font-family: "Proxima Nova", sans-serif;
    color: #023f88;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: -0.5px;
}

.profile .section .info-container p.card-text {
    color: #023f88;
}

.profile .section .info-container .card-points {
    font-family: "Proxima Nova", sans-serif;
    color: #023f88;
    font-size: 25px;
    text-align: right;
    letter-spacing: 0px;
}

.profile .section .info-container .card-points b {
    font-family: "Proxima Nova Bold", sans-serif;
}

.modal-dialog .modal-content a.close span {
    font-size: 60px;
}

.dialog-body {
    margin: 120px 50px;
}

.dialog-body h1 {
    letter-spacing: -0.5px;
    line-height: 40px;
}

.modal-dialog .small-text {
    font-size: 20px;
    color: #353745;

    margin-top: 16px;
    margin-bottom: 0px;
}

.modal-dialog hr {
    margin: 45px auto;
    width: 50px;

    border: none;
    height: 2px;
    color: #ec008c;
    /* old IE */
    background-color: #ec008c;
    /* Modern Browsers */
}

.form-group select.form-control option span.balance-text {
    text-align: right;
}

.login-right {
    padding-left: 20px;
}

.login-right h3 {
    background: #ccc;
    position: relative;
    height: 100%;
    width: 585px;
    background-position: 50% 50%;
    background-size: cover;
}

/*
Card Selector
*/

/* COLUMNS */

.member-card-col {
    display: block;
    float: left;
    padding: 0 1% 1%;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .card-selector input {
    display: none;
}

.form label {
    position: relative;
    color: rgba(255, 255, 255, 1);
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    height: 173px;
    width: 277px;
    /* line-height: 100%; */
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-position: 50% 50%;
    background-size: auto;
}

.form .card-selector input:checked+label {
    border: 3px solid #CC017A;
    /* background-color: #2fcc71; */
}

.form .card-selector input:checked+label:after {
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    /* border: 3px solid #333; */
    background-color: #ec008c;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
}

.profile .points-transaction .info-container .form-group .trh div {
    display: inline-flex;
}

.profile .points-transaction .info-container h5 {
    padding-right: 20px;
    margin-bottom: 0px;

    color: #023f88;
}

.table tr {
    border-bottom: 1px solid #dcddde;
}

.table th,
.table td {
    border-top: none !important;
}

.table tbody {
    border-bottom: thin !important;
}

.container table {
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.container table div {
    font-size: 0.9rem;
}

span.font-bold {
    font-family: "Proxima Nova Bold", sans-serif;
}

.earn-points-collection .item:first-child {
    margin-left: 0px;
}

.earn-points-collection .item:nth-child(3) {
    margin-right: 0px;
}

@media (min-width: 992px) {
    .modal-mlg {
        max-width: 592px;
    }
}

.terms p {
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;

    letter-spacing: -0.5px;

    color: #353745;
}

/* .navbar.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link h3:hover {
    background-image: url("/assets/images/") attr(hover);
} */
