
/*announcements*/
.announcements span, .announcements_detail span {
    font-size: 50px;
    letter-spacing: -1.2px;
    line-height: 58px;
    margin-bottom: 10px;
    color: #023f88;
}

.announcements_listing .item {
  margin-bottom:25px;
}

.announcements_listing .item .title {
  color: #353745 !important;
  font-size: 20px !important;
  padding: 0 24px;
  height: 68.4px;
  margin: auto 0 !important;
  line-height: 22px;
  text-align: center;
}

.announcements_listing .item .date {
  font-size: 15px;
  color: #023f88;
  white-space: nowrap;
  text-align: center;
}

.announcements_listing .item:hover {
  background-color: #ec008c;
}

.announcements_listing .item:hover .title {
  color: #ffffff !important;
}

.announcements_listing .item:hover .date {
  color: #ffffff;
}

.announcements_detail h6 {    
  font-family: "Proxima Nova Bold", sans-serif;
  color: #023f88;
}

/*NAVI*/
.navbar-payment{
  height: 62px;
}
.navbar-payment .navbar-nav{
  height: 62px;
}
.navbar-payment .navbar-nav .nav-link{
  padding: 20px;
  padding-top:0;
  padding-bottom:0;
  height: 62px;
  line-height: 62px;
}
.navbar-payment .navbar-nav .nav-link img{
  width:25px;
  margin-right:15px;
}
.navbar-payment .navbar-nav .nav-link:hover,.navbar-payment .navbar-nav .active{
  background-color: #AF0068;
}

.header .h2_pink{
  color: #ec008c;
  font-size: 40px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
/*payment_product_detail*/
.payment_product_detail .mobile_product_image{
  display:none;
}
.payment_product_detail .desktop_product_image{
  display:block; 
}
@media screen and (max-width: 991px){
  .payment_product_detail .mobile_product_image{
    display:block;
  }
  .payment_product_detail .desktop_product_image{
    display:none; 
  }
}
.payment_product_detail form{
  width: 100%;
}
.payment_product_detail form>div{
  padding-left:0px;
}
.payment_product_detail h5{
  font-family: "Proxima Nova Semibold", sans-serif;
  padding: 0;
}
.payment_product_detail .link a{
  display:block;
  color:#EC008C;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.payment_product_detail .link a img{
  width: 30px;
  margin-right: 10px;
}

/*payment_detail*/
.payment_detail p{
  color: #353745;
  font-size: 20px;
  line-height: 25px;
}
.payment_detail .row{
  margin:0;
}
.shipping_info{
}
.shipping_info p{
}

.payment_method{
  display: none;
}
.payment_method .side p{
}

.payment_detail img{
  width:100%;
}
.payment_detail .pink_title h5{
  color: #EC008C;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.payment_detail .blue_title{
  color: #023f88;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.payment_detail .blue_p{
  font-size: 15px;
  color: #023f88;
}
.payment_detail .line{
  height:1px;
  background-color: #E4E5EC; 
}
.payment_detail .line2{
  height:3px;
  background-color: #E4E5EC; 
}
.payment_detail .blue_h5{
  font-size: 20px;
  color: #023f88;
  float: right;
  text-align: right;
}
.payment_detail .blue_h5_bold{
  font-family: "Proxima Nova Semibold", sans-serif;
}
.payment_detail .normal_p{
  font-size: 15px;
  margin: 0;
}
.payment_detail .tiny_p{
  margin: 0;
  font-size: 12px!important;
}
.payment_detail .gray_p{
  color:#C3C3C3;
}
.payment_detail .btn-pink{
  float: right;
}
.payment_detail .btn_blue{
  font-family: "Proxima Nova bold", sans-serif;
  font-size: 13px;
  width:90px;
  padding:10px;
  text-align: center;
  border:2px solid #023F88;
  color: #023F88;
  cursor:pointer;
}
.method_holder{
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
.method_holder .payWith{
  border-top: 1px solid #D3D3D3;
  margin: auto;
  display: none;
}
.radio_holder_t2 h5{
  width:50%!important;
  float: left;
}
.radio_holder_t2 p{
  width:calc(100% - 60px)!important;
  float: left;
}
.radio_holder_t2 .card{
  float: right;
  width:50px;
  height:auto;
  vertical-align: top;
  margin-top: -10px;
}
.radio_holder_t2 label{
  width: 100%;
}
.payWithCreditCard label{
  font-size:12px;
  color:#A7ABBD;
  width:100%;
}
.payWithCreditCard .greenHighlight{
  border:1px solid #35CF95;
}
.glyphicon-question-sign{
  background-color:#C0C4D1;
  border-radius: 25px;
  width:15px;
  height:15px;
  float: right;
  color:white;
  font-size:12px;
  line-height:15px;
  text-align: center;
  cursor:pointer;
}
/*tick*/
.checkmark {
  display: inline-block;
  /* float: right; */
  margin: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  width: 18px;
  height: 18px;
  margin-top: 7px;
  margin-right: 20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark_circle {
  position: absolute;
  width:18px;
  height:18px;
  background-color: #35CF95;
  border-radius:11px;
  left:0;
  top:0;
}
.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 9px;
  top: 4px;
}
.checkmark_kick {
  position: absolute;
  width: 4px;
  height: 3px;
  background-color: #fff;
  left: 6px;
  top: 10px;
}


/*payment_complete*/
.payment_complete{
  text-align: center;
}
.payment_complete .gift_element{
  display: inline-block;
  width:150px;
}
.payment_complete img{
  width:100%;
}
.payment_complete h2{
  color: #023f88;
}
.payment_complete h5{
  color: #023f88;
  font-family: "Proxima Nova Semibold", sans-serif;
}

/*GENERAL FORM SETUP*/
/*Input*/
.payment_form input{
  border-radius: 5px;
  border: 1px solid #EDEEF4;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.payWithCreditCard input{
  border-radius: 5px;
  border: 1px solid #EDEEF4;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.codes{
  border-radius: 5px;
  border: 1px solid #EDEEF4;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-transform:uppercase
}
.point_holder input, .pay_holder input{
  border-radius: 5px;
  border:1px solid #EC008C;
  width: 100%;
  text-align: center;
}
/*Range Selector*/
.range_holder{
  position: relative;
  display: inline-block;
  width:100%;
}
.range_holder .point_holder{
  float:left;
  margin-right: 2%;
  width: 18%;
}
.range_holder .main_slider{
  float:left;
  width: 60%; 
  margin-top:45px;
}
.range_holder .pay_holder{
  float:left;
  width: 18%;
  margin-left: 2%;
}
.range2 .point_holder{
  float:left;
  margin-right: 2%;
  width: 23%;
}
.range2 .main_slider{
  float:left;
  width: 50%; 
  margin-top:45px;
}
.range2 .pay_holder{
  float:left;
  width: 23%;
  margin-left: 2%;
}
.noUi-horizontal {
  height: 3px;
}
.noUi-target {
  background: #023F88;
  border-radius: 0px;
  border: 0px solid #D3D3D3;
  box-shadow: none;
}
.noUi-connect {
  border-radius: 100px;
  height: 200%;
  margin-top: -2px;
  background: #EC008C;
  box-shadow: 14px 5px 15px -1px rgba(0,0,0,0.8);
}
.noUi-connects {
  overflow: visible;
}
.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  top: -8px;
  background:#EC008C;
  border-radius: 25px;
  box-shadow: none;
  border: 0px;
  cursor: pointer;
}
.noUi-handle:after, .noUi-handle:before {
  display: none;
}
/*Radio Selector*/
.radio_holder_t1{
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #E4E5EC;
  box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.1);
}
.radio_holder_t2{
  position: relative;
  display: inline-block;
  background-color: white;
  border-top: 1px solid #D3D3D3;
}
.radio_holder_t2:nth-of-type(1){
  border-top: 0px;
}
.radio_holder_t2 h5{
  margin: 0;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #EC008C;
    background-color: #EC008C;
}
/*Dropdown Selector*/
select {
  /* styling */
  background-color: white;
  border: thin solid #DCDDDE;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #EC008C 50%),
    linear-gradient(135deg, #EC008C 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
select.minimal:focus {
  border-color: 0px #EC008C;
  outline: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/*Number Selector*/
.number_holder{
  padding:0;
  padding-right:5px;
  line-height: 52px;
}
.number_holder .input-group{
  border-radius: 5px;
  border:1px solid #E4E5EC;
}
.number_holder .input-group .number{
  border:0px;
  height:52px;
}
.number_holder .input-group .btn-upNum{
  color:#EC008C;
}
.number_holder .input-group .btn-downNum{
}
/*Accordion*/
.accordion {
  color: #444;
  cursor: pointer;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion .downT{
  position: relative;
  display: inline-block;
  color: #ec008c;
  margin-left: 5px;
}
.active, .accordion:hover {
  color: #ec008c;
}
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


@media screen and (max-width: 600px){
  .payment_complete h2{
    font-size: 38px;
  }
}


/*Survey Panelist*/
.survey_panelist .row{
  position: relative;
  margin:0px;
  padding:0px;
  overflow:hidden;
  height:1850px;
}
.survey_panelist iframe{
  overflow:hidden;
  height:100%;
  width:100%;
}
@media screen and (max-width: 630px){
  .survey_panelist .row{
    height:1950px;
  }
}
@media screen and (max-width: 550px){
  .survey_panelist .row{
    height:2050px;
  }
}
@media screen and (max-width: 450px){
  .survey_panelist .row{
    height:2150px;
  }
}
@media screen and (max-width: 400px){
  .survey_panelist .row{
    height:2200px;
  }
}
@media screen and (max-width: 320px){
  .survey_panelist .row{
    height:2370px;
  }
}


/*Merchant Dialog*/
#qryform{
  margin: auto;
}
#qryform .hidden{
  display:none;
}
.merchant-dialog-modal .balance-text{
  color:#ec008c;
}
.category-all{
  margin: auto;
}
.merchant-dialog-steps-modal h4{
  color:#ec008c;
}
.merchant-dialog-steps-modal .dialog-body{
    margin: 50px 50px;
}
.merchant-dialog-steps-modal .info-container{
  text-align: center;
}
.merchant-dialog-steps-modal .info-container img{
  width: 80%;
  margin-left: 10%;
}
.merchant-dialog-steps-modal .btn-continue{
  margin: auto;
  margin-top: 20px;
}
